__pycache__/
*.py[cod]
.venv/
.pytest_cache/
.env
tofu/.terraform/
tofu/.terraform.lock.hcl
tofu/terraform.tfstate
tofu/terraform.tfstate.*
tofu/terraform.tfvars
tofu/prd.tfvars
tofu/prv.tfvars
tofu/*.auto.tfvars
